<div (keydown)="onKeyPressed($event)" class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5 bg-container">

 <div class="w-full mx-auto rounded-xl bg-gray-100 shadow-xl text-gray-800 relative overflow-hidden" style="max-width: 350px">

<!--   calculator screen-->

   <div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right">

<!--     function screen-->
     <div class="w-full py-50 px-6 text-l text-gray-400 font-thin">
       {{ funcT }}
     </div>

<!-- number screen-->
     <div class="w-full  py-5 px-6 text-6xl text-white font-thin "> {{ calValue | number }}</div>
   </div>
<!--   end of calc screen-->

<!--   calculator button-->
   <div class="w-full bg-gradient-to-b from-red-500 to-red-800">

<!--     first row-->
     <div class="flex w-full">

       <div class="w-2/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('c','Function')"> C </button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold"(click)="onClickValue('%','Function')"> %</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('/','Function')"> / </button>
       </div>

     </div>

<!--second row-->
     <div class="flex w-full">

       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('7','number')"> 7 </button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('8','number')"> 8 </button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('9','number')"> 9 </button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('*','Function')"> * </button>
       </div>
     </div>

<!--     third row-->
     <div class="flex w-full">

       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('4','number')"> 4</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold"(click)="onClickValue('5','number')"> 5</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('6','number')"> 6</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('-','Function')"> - </button>
       </div>

     </div>

<!--     forth row-->
     <div class="flex w-full">

       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('1','number')"> 1</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('2','number')"> 2</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold"(click)="onClickValue('3','number')"> 3</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold"(click)="onClickValue('+','Function')"> + </button>
       </div>

     </div>

<!--fifth row-->
     <div class="flex w-full">

       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('0', 'number')"> 0</button>
       </div>
       <div class="w-1/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('.','number')"> .</button>
       </div>
       <div class="w-2/4 border-r border-b border-red-400">
         <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-bold" (click)="onClickValue('=','Function')"> = </button>
       </div>

     </div>


 </div>

</div>
</div>


<footer class="bg-gray-100">
  <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">

    <p class="mx-auto mt-6 max-w-md-56 text-center leading-relaxed text-gray-500">
      Developed by Jay Borad (@jborad988), this calculator project is a testament to continuous learning and skill development. Designed as a practice endeavor, the source code is publicly available on GitHub. Jay's commitment to collaborative learning is evident, offering a valuable resource for developers exploring the intricacies of building a calculator application.

      Explore the GitHub repository to delve into the source code, showcasing Jay Borad's proactive engagement with the developer community. Your contributions are welcomed, contributing to the ongoing refinement and enhancement of this practice project.
    </p>


    <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" target="_blank" href="https://jbond.me"> About </a>
      </li>
    </ul>

    <ul class="mt-12 flex justify-center gap-6 md:gap-8">
      <li>
        <a
          href="https://github.com/JBORAD988"
          rel="noreferrer"
          target="_blank"
          class="text-gray-700 transition hover:text-gray-700/75"
        >
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>

    </ul>
  </div>
</footer>
